.container {
    height: 6.875rem; /* 110px */
    padding: 30px;
    display: flex;
    align-items: center;
}

.linkList {
    display: flex;
    gap: 2rem;
}

.linkList > li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
}

.linkList > li > a {
    transition: var(--animation-timing);
    color: var(--gray);
}

.linkList > li > .activeLink {
    color: #000;
}

