
.box {
    --radius: 43px;
    position: absolute;
    right: 0;
    bottom: 70px;
    background-color: black;
    border-radius: var(--radius)  0px 0px var(--radius);
    width: 120px;
    height: 130px;
}
.circle {
    position: absolute;
    right: 130px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #ED0000;
}
