:root {
  --background-rgb: 255, 255, 255;

  /* COLORS */
  --primary: -webkit-linear-gradient(0, #232526 0%, #414345 100%);
  --gray: #8d8d8d;

  /* FONT SIZES */
  --font-sm: 0.875rem;
  --font-md: 2.5rem;

  /* BORDER RADIUS */
  --radius-sm: 25px;

  --animation-timing: 0.3s;
}

@media (max-width: 768px) {
  :root {
    --font-sm: 0.6rem;
    --font-md: 1.5rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Clash Display', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

.appContent {
  border-bottom: 1px solid;
  min-height: calc(100vh - 13.75rem);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: rgb(var(--background-rgb));
}

a {
  text-decoration: none;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  background: var(--primary);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
