.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.logo {
  font-size: var(--font-md);
  font-weight: bold;
  text-transform: uppercase;
  background: var(--primary);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rightBlock {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5vw;
}

.quality {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  width: 100px;
  font-size: var(--font-sm);
}

@media (max-width: 768px) {
  .header {
    padding: 15px;
  }

  .rightBlock {
    gap: 0;
  }

  .quality {
    width: 80px;
  }
}
