.btn {
  background-color: transparent;
  cursor: pointer;
  border-radius: var(--radius-md);
  border: 1px solid black;
  color: black;
  align-items: center;
  height: 58px;
  transition: all 0.3s;
  padding: 0 20px;
  margin-bottom: 15px;
  margin-right: 35px;
}
.btn:hover,
.active {
  background-color: #ed0000;
  color: white;
}
