.container {
    --slider-width: 39rem; /* 608px */
    --sm-offset: 0.3rem; /* 5px */
}

.sliderContainer {
    width: var(--slider-width);
    height: 21.75rem; /* 350px */
    padding-top: 2rem; /* 32px */
    padding-left: 3rem;
    overflow-y: hidden;
    margin-right: 20px;
}

.imageBlock {
    display: flex;
    height: 26rem;
    overflow-y: hidden;
    padding-top: 0.4rem; /* 6.4px */
    padding-left: 0.1rem; /* 1.6px */
}

.firstPicture {
    display: flex;
    flex-direction: column;
    gap: var(--sm-offset);
}

.secondPicture {
    height: 20rem;
    transform: translateY(1.67rem);
}

.blockWithPictures {
    display: flex;
    gap: 2rem; /* 32px */
}

.nft {
    font-size: 2.875rem; /* 46px */
    font-weight: 600;
    text-transform: uppercase;
}

.bottomBlock {
    position: relative;
    display: flex;
    gap: 5rem;
}

.bottomBlockChildFirst {
    width: 80rem;
    margin-left: 45px;
}

.bottomBlockChildFirst > h2 {
    font-size: 10rem; /* 160px */
    font-weight: 600;
    text-transform: uppercase;
}

.aboutUsBtn {
    /*height: 3rem;*/
    width: 26rem;
}

.descriptionBlock {
    display: flex;
    gap: 2.5rem; /* 40px */
}

.descriptionText {
    font-size: 1.125rem; /* 18px */
    line-height: 1.35rem; /* 21.6px */
    letter-spacing: 0.035em;
    text-transform: uppercase;
    display: inline-block;
}

.starIcon {
    position: absolute;
    left: 32.5rem; /* 520px */
    bottom: 90%;
}

.secondStarIcon {
    transform: translateX(300%);
}

.additionalPicturesContainer {
    --picture-width: 270px;
    display: flex;
    flex-direction: column;
    width:  45rem;
    transform: translateY(1.67rem);
}

.additionalPicturesDescriptionContainer {
    width: 49rem;
    display: flex;
    gap: 3rem;
}

.additionalPicturesDescriptionContainer > p {
    display: inline-block;
    padding-top: 1.5rem;
    font-size: 1.125rem;
    letter-spacing: 0.035em;
    line-height: 1.4rem;
    text-transform: uppercase;
}

.additionalPictures {
    display: flex;
    gap: 2rem;
}

.furnitureDescription {
    display: flex;
    /* gap: 1.75rem; */
}

.furnitureDescription > .descriptionText {
    display: inline-block;
    width: 550px;
    margin-top: 0.5rem;
    margin-left: 1.75rem;
}

.furniTitle {
    font-weight: 600;
    font-size: 2.875rem;
    text-transform: uppercase;
}

.bottomBlockChildSecond {
    width: 66.5rem;
}

.marquee {
    position: absolute;
    top: -383px;
    left: 2055px;
}

.marqueeText {
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 30px;
    -webkit-text-fill-color: #fff;
}

.furnitureImg {
    transform: translateY(-13px);
}

.orderBtn {
    width: 100px;
    height: 20px;
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px 25px;
}

.firstSlide {
    box-shadow: 0 0 40px #8e8e8e;
}
